@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600&family=Mali:wght@400;500&family=Raleway:wght@300;400;500;600;700&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    font-family: 'Dancing Script', cursive;
font-family: 'Mali', cursive;
font-family: 'Raleway', sans-serif;
letter-spacing: .2rem;

}

li{
    list-style: none;
}

p,li{font-size: 1.6rem;
font-weight: 300;}
h1{
    font-size: 3.2rem;
    font-weight: 700;
}
h2{
    font-size: 2.8rem;
    font-weight: 600;
}
h3{
    font-size: 2.2rem;
    font-weight: 500;
}
h4{
    font-size: 1.8rem;
    font-weight: 500;
    
}
a{
    font-style: none;
    text-decoration: none;
}
i{
    margin: 0.3rem;
}
header{ 
    background-color: white;
    /* border: .5rem solid black; */
    z-index: 9;
    
 }
 header::after{
     content: '';
     position: absolute;
     top: 11.5rem;
     left: 50%;
     width: 770px;
     height: 50px;
     background-color: #e9e9e9;
     transform-origin: center;
     transform: skewy(-1deg);
     z-index: -1;
     
     filter: blur(3px);
 }
 header::before{
    content: '';
    position: absolute;
    top: 12.17rem;
    right: 50%;
    width: 770px;
    height: 50px;
    background-color: #e9e9e9;
    transform-origin: right;
    transform: skewy(1deg);
    z-index: -1;
    
    filter: blur(3px);
}
header section.box1{
    height:3.5rem ;
    background-color:black;

}

.section1{
    
    display: flex;
    justify-content: space-between;

}

.section1 .regis ul li,
.section1 .icons p{
    display: inline-block;
    color: white;
   margin: 0.5rem 0px;
   padding: 0px 1.5rem;
}
section.box1 .regis ul .li-2,
section.box1 .regis ul .li-3{
    border-left: 0.3rem solid white;
}

section.box2 .section2{
    display: flex;
    justify-content: space-between;
    padding: 2rem;

}

section.box2 .time,
section.box2 .contact{
    display: flex;
}

section.box2 .time .clock,
section.box2 .contact .phone{
    font-size: 20px;
    margin: 1rem 1rem;

}
section.box3{
    display: flex;
    margin: 0px auto;
   
    
}
section.box3 ul li{
    display: inline-block;
    margin: 1px 3rem;
    padding: 1rem;
    text-align: center;
   
}
section.box3 ul li:hover{
    background-color: #ffc300;
    color: whitesmoke;
    cursor: pointer;
    border-radius: 1rem;
}




/* #####################page1################# */
section.page1{ 
   position: relative;
    height: 70vh;
    background-image: linear-gradient(rgb(250, 246, 246, 0.3), rgba(255, 255, 255, 0.253)) ,url(/pics/background1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: auto;
    margin-top: .5rem;
    z-index: -5;
}
section.page1 .welcome{
    
    display: flex;
    justify-content: space-between;

    /* margin-top: 5%; */
    
}

section.page1 .welcome .text{
    /* border: 1rem solid red; */
    margin: auto;
    max-width:600px;
    padding: 3rem 1rem 3rem 1rem;
    flex: 1 1 500px
    
}






section.page1 .welcome .pic img{
    width: 100%;
    height: 100%;
}
section.page1 .welcome .pic{
    /* border: 1rem solid red; */
    margin-top: 5%;
    max-width: 500px;
    height: 400px;
    flex: 1 1 400px
    
    
}






/* ############## utility classes ################## */
.container{
    max-width: 1400px;
    margin: auto;
   
}
.color-white{
    color: white;
}

.color-orange{
    color: #ffc300;
}

.background-orange{
    background-color: #ffc300;
}

.background-grey{
    background-color: rgb(63, 61, 61);
}

.background-black{
    background-color: rgb(0, 0, 0);
}

.btn{
    display: inline-block;
    margin: 1rem 1rem 1rem 0rem;
    padding: .5rem 1rem;
    font-size: 1.6rem;
    font-weight: 300;
    border-radius: .5rem;
}


/* ##############page2########################################## */

section.page2{
    background-color: #e6dfdf;
    height: 70rem;
    position: relative;
}

section.page2 .name{
    text-align: center;
    padding: 5rem ;
}
section.page2 .block{
    display: flex;
    justify-content: space-between;
}
section.page2 .box{
    position: relative;
    height: 40rem;
    width: 30rem;
    border-top: 0.4rem solid white;
    border-bottom: 0.1rem solid white;
    border-radius: .5rem;
    flex-shrink: 1;
    z-index: 2;
}

section.page2 .box .imgbox{
    width: 100%;
    height: 59%;
    background-color: white;
    
    /* border: 0.4rem solid black; */
}
section.page2 .box .textbox{
    width: 100%;
    height: 40%;
    background-color: white;
    margin-top: 3.4px;
    text-align: center;
    padding: 1rem;
    /* border: .4rem solid red; */

}

section.page2 .box .imgbox img{
    width: 20rem;
    height: 100%;
    margin: auto 5rem;
}
Section.page2 .box .cart{
    display: inline-block;
    border: .2rem solid #ffc300;
    border-radius: .3rem;
}
Section.page2 .box .cart i{
    display: inline-block;
    font-size: 1.6rem;
    padding: 5px;
    margin: 0px;

}
Section.page2 .box .cart p{
    /* font-size: 1.2rem; */
    display: inline-block;
    padding: 1px 10px;
}

.page2 .butten{
    text-align: center;
    margin: 5rem auto;
}

section.page2 .box::after{
    content: '';
    position: absolute;
    top: 95.3%;
    left: 50%;
    width: 13rem;
    height: 20px;
    background-color: #afadad;
    transform-origin: center;
    transform: skewy(-4deg);
    z-index: -1;
    
    filter: blur(3px);
}

section.page2 .box::before{
    content: '';
    position: absolute;
    top: 95.3%;
    right: 50%;
    width: 13rem;
    height: 20px;
    background-color: #afadad;
    transform-origin: center;
    transform: skewy(4deg);
    z-index: -1;
    
    filter: blur(3px);
}
/* ##########################page3#################### */


section.page3{
    background-color: white;
    height: 60rem;
}

section.page3 .name{
    text-align: center;
    padding: 5rem;
}
section.page3 .box{
    
    height: 30rem;
    
    display: flex;
    justify-content: space-around;
    
}

section.page3 .box .imgbox{
      
    height: 100%;
    width: 50rem;
    
    
}
section.page3 .imgbox img{
    width: 100%;
    height: 100%;    
}

section.page3 .box .textbox{
    height: 100%;
    width: 65rem;
    padding: 2rem;
    
}

section.page3 .textbox h2,
section.page3 .textbox p{
    padding: 1rem 0px;
}


/* ##################################page4####################### */

section.page4{
    background-color: #e6dfdf;
    height: 50rem;
    position: relative;
    z-index: -5;    
}

section.page4 .name{
    text-align: center;
    padding: 5rem;
}

section.page4 .block{
    /* border: .5rem solid black; */
    height: 25rem;
    width: 1200px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
}

section.page4 .block .box{
    position: relative;
   border-radius: .5rem;
    background-color: white;
    text-align: center;
    padding: 5rem 2rem 2rem 2rem;
    line-height: 3rem;
    height: 100%;
    width: 38rem;
    
}

section.page4 .box::after{
    content: '';
    position: absolute;
    top: 92.9%;
    left: 50%;
    width: 17rem;
    height: 20px;
    background-color: #afadad;
    transform-origin: center;
    transform: skewy(-2deg);
    z-index: -1;
    
    filter: blur(3px);
}

section.page4 .box::before{
    content: '';
    position: absolute;
    top: 92.9%;
    right: 50%;
    width: 17rem;
    height: 20px;
    background-color: #afadad;
    transform-origin: center;
    transform: skewy(2deg);
    z-index: -1;
    
    filter: blur(3px);
}

section.page4 .block .box .ibox{
    border: .3rem solid black;
    border-radius: 1rem;
    background-color: white;
    height: 6rem;
    width: 6rem;
    margin: 10px auto;
    transform: rotate(45deg);
    position: absolute;
    top: -16.8%;
    left: 40%;
    padding: 1.2rem ;
    
    

}


section.page4 .block .box .ibox1 img,
section.page4 .block .box .ibox2 img{
    transform: rotate(-45deg);
    width: 3rem;
    margin: auto;    
}

section.page4 .block .box .ibox3{
    padding: 1.3rem 1.9rem;
}
section.page4 .block .box .ibox3 img{
    transform: rotate(-45deg);
    
}

section.page4 .block .box .ibox2{
    background-color: #ffc300;
    left: 40%;
}

section.page4 .block .box .ibox3{
    display: flex;
    left: 40%;
}


/* ######################page5################### */

Section.page5{
    height: 35rem;
    background: linear-gradient(rgb(0, 0, 0, .5),rgb(0, 0, 0, .5)),url(/pics/background2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

section.page5 .name{
    text-align: center;
    color: white;
    padding: 5rem;
}
section.page5 .name img{
    width: 40rem;
}

section.page5 .big-deal{
    /* border: .5rem solid white; */
    height: 10rem;
    width: 50rem;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
}

section.page5 .big-deal .cont{
    /* border: .3rem solid red; */
    height: 100%;
    width: 10rem;
    background-color: #ffc300;
    color: white;
    font-size: 1.6rem;
    font-weight: 500;
    text-align: center;
    padding: 2.5rem 1.1rem;


}
section.page5 .big-deal .cont1{
    padding: 2.5rem 1.5rem;
}



/* #####################page6###################### */

section.page6{
    background-color:#e6dfdf ;
    height: 90rem;
}

section.page6 .name{
    text-align: center;
    padding: 5rem 0rem 2rem 0rem ;
    
}

Section.page6 .block{
    /* border: .5rem solid black; */
    height: 60rem;
    max-width: 125rem;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    
}

Section.page6 .block .box{
    
    background-color: white;
    height: 100%;
    width: 60rem;
}

Section.page6 .block .box .imgbox{
    width: 100%;
    height: 60%;
}
Section.page6 .block .box .imgbox img{
    width: 100%;
    height: 100%;
}

Section.page6 .block .box .textbox{
    width: 100%;
    height: 40%;
    padding: 2rem;
}

Section.page6 .block .box .textbox .comentbox{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

Section.page6 .block .box .textbox .data h3{
    margin-bottom: 1rem;
}

section.page6 .button{
    text-align: center;
    margin: 3rem auto;
}

/* ###############page7################# */

section.page7{
    background-color: #ffc300;
    height: 50rem;
   
    

}

section.page7 .block{
    /* border: .3rem solid black; */
    height: 50rem;
    display: flex;
    justify-content: center;
    
    
}
section.page7 .imgbox{
    /* border: .4rem solid red; */
    width: 60rem;
    
    margin: 7rem 3rem;
    
}
section.page7 .imgbox img{
    display: block;
    max-width: 100%;
    height: 100%;
    margin: 0px auto;
}

section.page7 .textbox{
    /* border: .4rem solid red; */
    width: 60rem;
    margin: 7rem 3rem;
    padding: 10rem 2rem;
}
section.page7 .textbox h3{
    margin-bottom: 2rem;
}

section.page7 .textbox .subscribe{
    border: .3rem solid white;
    border-radius: .5rem;
    background-color: white;
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
}

section.page7 .textbox .subscribe input[type="email"]{

    display: block;
    font-size: 2rem;
    padding: 0px 2rem 0px 2rem;
    border: white;
    outline: none;
    width: 80%;
    
}

section.page7 .textbox .subscribe input[type="submit"]{
    display: block;
    border: none;
    border-radius: .5rem;
    background-color: #ffc300;
    color: white;
    font-size: 1.6rem;
    padding: 1.5rem 4rem;
}


section.page8{
    height: 50rem;
    display: flex;
}

section.page8 .contact{
    width: 50%;
    
}

section.page8 .frame{
    width: 50%;
}

section.page8 .contact .name{
    text-align: center;
    padding: 5rem 0rem 2rem 0rem ;

}

section.page8 .contact .detail{
    width: 40rem;
    margin: auto;
}

section.page8 .contact .detail .box{
    display: flex;
    margin: 3rem 1rem;
}

section.page8 .contact .detail .box .ibox{
    border: .2rem solid #ffc300;
    border-radius: .7rem;
    width: 3rem;
    height: 3rem;
    padding: .4rem .5rem .5rem .5rem;
    margin: .7rem 0rem;
    transform: rotate(45deg);
}

section.page8 .contact .detail .box .text{
    margin-left: 2rem;
}

section.page8 .contact .detail .box .ibox i{
    color: #ffc300;
    font-size: 1.6rem;
    margin: auto;
    transform: rotate(-45deg);
}


/* ###############footer###################### */
footer.footer{
    background-color: rgb(38, 36, 49);
    color: white;
    height: 30rem;
    padding: 5rem;
}

footer.footer .block{
    
    display: flex;
    justify-content: space-around;
}

footer.footer .block .box{
    height: 100%;
    width: 30rem;
}

footer.footer .block .box .name{
    text-align: center;
    padding: 1rem;
    border-bottom:.3rem solid  #ffc300;
}

footer.footer .block .box1 .text{
text-align: center;
line-height: 3rem;
padding: 1rem;
}

footer.footer .block .box2 .text,
footer.footer .block .box3 .text{
    padding: .5rem 2.5rem;
    display: flex;
    flex-wrap: wrap;
}

footer.footer .block .box2 .text .list1,
footer.footer .block .box2 .text .list2{
    display: block;
    width: 50%;
    line-height: 3rem;
}
footer.footer .block .box2 .text .list3{
    display: block;
    width: 100%;
    line-height: 3rem;
    padding-left: 30%;
}

footer.footer .block .box3 .text .list2{
    margin-left: 2rem;
    line-height: 4rem;

}

footer.footer .block .box3 .text .list1{
    line-height: 4rem;
}

section.alright{
    background-color: rgb(28, 26, 36);
    color: white;
    height: 5rem;
    text-align: center;
    padding: 1.5rem;
}

